# Fichiers et dossiers Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Fichiers IDE/Editeur
.vscode/
.idea/

# Caches Jupyter
.ipynb_checkpoints/

# Fichiers OS
.DS_Store
Thumbs.

*.egg-info/
# data artifacts
data/uploads/
data/results/
data/~$*.xlsx

